<template>
  <div id="container">
    <Index />
  </div>
</template>

<script>
import { Options, Vue } from "vue-class-component";
import Index from "@/components/IndexComponent.vue";

@Options({
  components: {
    Index,
  },
})
export default class IndexView extends Vue {}
</script>

<style scoped></style>
