<template>
  <div class="test">
    <h1>Test</h1>
  </div>
</template>

<!--<script>-->
<!--export default {-->
<!--    name: "TestView"-->
<!--}-->
<!--</script>-->

<!--<style scoped>-->

<!--</style>-->
