<template>
  <div class="btn-back">
    <button title="Назад" @click="back">Back</button>
  </div>
</template>

<script>
export default {
  name: "BtnBack",
  methods: {
    back() {
      if (history.length < 3) {
        this.$router.push({
          name: this.$router.history.current.name.replace(
            /-edit|-create/i,
            "-list"
          ),
        });
      } else {
        this.$router.back();
      }
    },
  },
};
</script>
