<template>
  <div class="btn-delete">
    <button title="delete" @click="this.delete">Delete</button>
  </div>
</template>

<script>
import { mixin } from "@/mixins/mixin";
export default {
  name: "BtnDelete",
  mixins: [mixin],
  props: {
    id: {
      type: Number,
      required: true,
    },
  },
  methods: {
    delete() {
      this.deleteNews(this.$props.id);
      this.$router.push({
        name: "/all-news",
      });
    },
  },
};
</script>

<style scoped></style>
