<template>
  <div class="btn-edit">
    <button title="Edit" @click="edit">Edit</button>
  </div>
</template>

<script>
export default {
  name: "BtnEdit",
  props: {
    id: {
      type: Number,
      required: true,
    },
  },
  methods: {
    edit() {
      this.$router.push({
        name: "editNews",
        params: { id: this.$props.id },
      });
    },
  },
};
</script>

<style scoped></style>
