<template>
  <div class="add-news-block">
    <btn-back />
    <h3>Add News</h3>
    <form class="form-news" @submit.prevent="this.submit">
      <div class="title">
        <div class="label">
          <label title="title" for="title">Title</label>
        </div>
        <input v-model="model.title" type="text" name="title" id="title" />
      </div>
      <div class="text">
        <div class="label">
          <label title="text" for="text">Text</label>
        </div>
        <textarea
          v-model="model.text"
          name="text"
          id="text"
          rows="10"
          cols="100"
        />
      </div>
      <div class="submit-btn">
        <button type="submit" class="search__button">Save News</button>
      </div>
    </form>
  </div>
</template>

<script>
import { mixin } from "@/mixins/mixin";
import BtnBack from "@/components/BtnBack.vue";
export default {
  components: { BtnBack },
  mixins: [mixin],
  name: "FormNewsComponent",
  data() {
    return {
      model: {
        id: null,
        title: "",
        text: "",
      },
    };
  },
  methods: {
    submit() {
      if (this.model.id) {
        this.updateNews({
          id: this.model.id,
          title: this.model.title,
          text: this.model.text,
        });
      } else {
        this.addNews({
          title: this.model.title,
          text: this.model.text,
        });
      }
      this.$router.push({ name: "/all-news" });
    },
  },
  created() {
    this.$route.params.id && this.getNews(this.$route.params.id);
  },
};
</script>

<style scoped></style>
