<template>
  <div id="index">
    <div class="add-news-block">
      <router-link :to="{ name: 'addNews' }">Add News</router-link>
    </div>
    <div class="grid-container">
      <a
        v-for="item in this.model"
        v-bind:href="makeLinkToNews(item.id)"
        class="grid-item block-news"
        v-bind:key="item.title"
      >
        <div class="news-image"></div>
        {{ item.title }}

        <div class="news-text">
          {{ item.text }}
        </div>
      </a>
    </div>
  </div>
</template>

<script>
import { mixin } from "@/mixins/mixin";

/* eslint-disable */
export default {
  mixins: [mixin],
  name: "IndexComponent",
  data() {
    return {
      allNews: this.getAllNews()
    };
  },
  methods: {
    makeLinkToNews(newsId) {
        const link = this.$router.resolve({
            name: 'news',
            params: { id: newsId },
        });

        return link.href;
    },
    toNews(id) {
      this.$router.push({name: 'news', params: {'id': id}});
    }
  },
  created() {
    setTimeout(() => {this.getAllNews()}, 2000);
  }
};
</script>

<style scoped>
  .grid-container {

      width: fit-content;
      display: grid;
      gap: 15px 15px;
      grid-template-columns: auto auto auto auto;
      grid-template-rows: auto auto;
      grid-auto-flow: row;
      align-items: center;
  }

  .block-news {
    display: inline-block;
    width: 300px;
    height: 300px;
    border: 1px solid;
  }

  .news-image {
    background-color: rgba(194, 215, 215, 0.8);
    height: 150px;
    padding: 20px 40px;
  }

  .news-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
</style>
