<template>
  <div id="news" v-if="this.model">
    <span>
      <btn-back />
      <btn-edit :id="this.model.id" />
      <btn-delete :id="this.model.id" />
    </span>

    <div class="news-image"></div>
    <div class="news-title">
      <h3>{{ this.model.title }}</h3>
    </div>
    <div class="news-text">{{ this.model.text }}</div>
  </div>
</template>

<script>
import { mixin } from "@/mixins/mixin";
import BtnBack from "@/components/BtnBack.vue";
import BtnEdit from "@/components/BtnEdit.vue";
import BtnDelete from "@/components/BtnDelete.vue";
export default {
  components: { BtnDelete, BtnEdit, BtnBack },
  mixins: [mixin],
  name: "NewsComponent",
  props: ["id"],
  created() {
    this.getNews(this.$route.params.id);
  },
};
</script>

<style scoped></style>
